.navbar-default {
  background: #2c3e50 !important;
  border: 0 !important;
  border-radius: 0 !important;
  font-family: Roboto;
  font-weight: 100;
}

.navbar-default .navbar-header {
  background: #355677 !important;
  color: #eee;
}

.navbar-default .navbar-brand {
  font-size: 300%;
  color: #eee;
  padding-top: 22px
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #eee;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 300;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  text-decoration: none !important;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
}

.navbar {
  margin-bottom: 0 !important;
}

canvas {
  top: 0px;
  width: 100%;
  min-height: 10em;
  z-index: -1;
}

.heading {
  position: relative;
  z-index: 1000;
  background: #000;
  opacity: 0.75;
  color: #fff;
  top: 160px;
}

.heading > h1 {
  font-size: 300%;
  padding: 0.15em;
}

.container-heading {
  margin-top: -40px !important;
}
